@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url("./font/Vazir-Bold.woff");
    src: url("./font/Vazir-Bold.woff2") format("woff2"),
      /* IE6-8 */ url("./font/Vazir-Light.ttf") format("ttf"); /* Chrome36+, Opera24+*/
  }

  *{
      font-family: Vazir;
  }